*{
    padding:0px;
    margin:0px;
}

.aboutuscontrol{
    width:100%;

}
#aboutusimage{
    width:10%;
    margin-top: 120px;
    margin-left: 40%;
    margin: bottom 70px;
}
#aboutustext{
    width:100%;
    text-align: justify;
    

}
h1{
    color: #215584;
    text-align:center;
margin-bottom: 60px;
}

#aboutusp{

    font-size: 15px;

}
