*{
    padding:0px;
    margin:0px;
}
.cc{
    width:100%;
}
h1{
    color: #215584;
    margin-top:120px;
margin-bottom: 60px;}

#tablediv{
    width:100%;

}

#ccomplaint{
    width:50%; 
    height:55px;
margin-bottom:30px;
font-size:20px;
}

#tabletd{
    height:60px;
    padding:1%;
    vertical-align: top;
}
#boximages{
    margin-right: 15%;
    width:30%;
}

#ccproceed{
    width:100px;
    height:50px;
    border:0;
    margin-top:25px;
    margin-bottom: 40px;
    font-size: 1.2em;;
background-color:#fdca40;
border-radius: 3px;
}
h1{
    color: #215584;
    margin-top:120px;
}
.ccpage{
    margin-bottom: 30px;
}
#cctracking{

    background:white;
   margin-top:70px; 
    border:normal;
    font-size:1.5em;
    width:600px;
    height:50px;
    border-radius: 3px;

}
#cctextarea{

    background:white;
    margin-top:20px;
    border:normal;
    font-size:1.5em;

    width:600px;
    height:50px;
    border-radius: 3px;

}


#ccbutton{
    width:100px;
    height:50px;
    border:0;
    margin-top:25px;
    margin-bottom: 40px;
    font-size: 1.2em;;
background-color:#fdca40;
border-radius: 3px;
}


h4{
    color: #215584;
    margin-top:100px;
}
