h1{
    color: #215584;
    text-align:center;
    margin-top:120px;
margin-bottom: 60px;}



.redirect{
    width:100%;
    display:flex;
}
#redirectsteps{
    width:70%;
    
}
h4{
    color: #215584;
    text-align:center;
    margin-top:30px;
    font-size: 40px;
margin-bottom: 60px;   
}

#ul{
    color:#215584;
font-size: 20px;
margin-left: 5%;
}

#notification{
    width:50%;
 
    margin-left: 15%;
    background-color: white;
}
img{
    height:550px;
}
